* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

.app-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.progress-label {
  margin-right: 0.5rem;
}

.btn {
  padding: 0.1rem 0.4rem;
}
