* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

.container {
  padding: 1rem;
}

.company-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.progress-label {
  margin-right: 0.5rem;
}

.btn {
  padding: 0.1rem 0.4rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 2rem 0;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
